body{
font-family: 'Roboto', sans-serif;
}

h1{
font-size: 32px;
font-height:24px;
}



.ingrediënten{
	margin: 10px 
}

div{
margin:0 auto;
}

ul{
	font-family:'Roboto',sans-serif;
	font-size: 20px;
	font-height: 26px;

}
